@charset "UTF-8";
/* Css Document */
body
{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_bar{
  height:80px;
  width: 100%;
  background-color: #333333;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.logo{ margin-top: -10px;}
  .logo img{
    height: 100px;
  }
  .menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
  }
  .menu a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 10px;
    transition: 0.5s;
  }
  .menu li:hover a{
    color: #333333;
    background-color: white;
  }

  /* GALERİ ALANI KODLARI*/
  .galeri {
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
    url("image/galeri.jpg");
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .galeri .web{
    color: white;
    font-family: calibri;
    font-size: 30px;
  }
  .galeri a{
    font-family: calibri;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;

  }
  .galeri a:hover{
    color: #333333;
    background-color: white;
    padding: 10px;
  }
  .web h4 {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }

  /* ORTA ALAN */
  .orta_alan{
    display: flex;
    width: 95%;
    justify-content: space-around;
  }
  .orta {
    width: 22%;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 2% 0;
    box-sizing: border-box;
    background: linear-gradient(rgba(93, 93, 93, 0.8),rgba(59, 59, 59, 0.5));
  }
.orta .icerik{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: justify;
  font-family: verdana;
  color: white;
}
.orta p{text-indent: 15px;}
.orta img{width: 50%;}
